@import url("https://fonts.google.com/specimen/Outfit:wght@400;700;");

/*Begining of scan code*/
.big-container {
    border: 1px solid;
    border-radius: 2%;
    height: 80vh;
    width: 25%;
    padding-left: 10%;
    margin-top: 5%;
    justify-content: center;
    margin-left: 30%;

}

.small-container {
    align-content: center;

}

.code-img {
    height: 35vh;
    width: 50%;
    align-items: center;
    margin-top: 3%;
    border-radius: 5%;
}

.skills {
    font-size: 150%;
    font-weight: 500;
}

.mentor {
  font-weight: lighter;
  font-size: 15px;
}